<article class="post flex-50">
    {{ .Render "featured" }}
    {{ .Render "header" }}
    {{ with .Description }}
        <p>{{ . }}</p>
    {{ end }}
    <div class="post-body" style="font-size: .9em">
      <a href="{{ .Permalink }}" class="black-text"><p>{{ printf "%s" .Summary | markdownify }}</p></a>
    </div>

    <!-- <footer class="small-screen-center post-more"> -->
      <!-- <a href="{{ .Permalink }}" class="post-more-link btn btn-primary">read more</a> -->
        <!-- {{ .Render "footer-category" }} -->
    <!-- </footer> -->
</article>
