{{ if and (isset .Params "featuredpath") (ne .Params.featuredpath "") }}
    {{ $.Scratch.Set "path" .Params.featuredpath }}

    {{ if and (isset .Params "featured") (ne .Params.featuredpath "") }}
        {{ $.Scratch.Set "structType" "page" }}
        {{ partial "img-path" . }}
        {{ $path := $.Scratch.Get "path" }}
        <div class="post-media">
          <div class="figure fade-in text-center figcaption-middle">
            <a href="{{ .Permalink }}" class="image featured">
            <img src="{{ $path }}/{{ .Params.featured }}" alt="{{ .Params.featuredalt }}" />
            <div class="figure-overlay">
              <div class="figure-overlay-container">
                <div class="figure-caption"><span class="figure-overlay-icons"><i class="icon-link"></i></span></div>
              </div>
            </div>
        </a>
          </div>
        </div>

    {{ end }}
{{ end }}
