<nav class="post-navigation" id="nav-below">
  <ul class="pager" style="margin-top: 0px; margin-bottom: 0px">
    {{ if .PrevInSection }}
        <!-- <li class="previous"><a href="{{ .PrevInSection.Permalink }}"
                class="btn btn-primary btn-icon btn-sm btn-icon-left" rel="prev"> <i class="fa fa-angle-left"></i> {{ .PrevInSection.Title }}</a></li> -->
        <li class="previous">
               {{ .PrevInSection.Render "featured-img-prev" }}
        </li>
    {{ end }}

    {{ if .NextInSection }}
        <!-- <li class="next"><a href="{{ .NextInSection.Permalink }}"
                class="btn btn-primary btn-icon btn-sm btn-icon-right" rel="next"> {{ .NextInSection.Title }} <i class="fa fa-angle-right"></i></a></li> -->

        <li class="next">

              {{ .NextInSection.Render "featured-img-next" }}
        </li>
    {{ end }}
  </ul>
</nav>
