{{ partial "header" . }}
    {{ $.Scratch.Set "shareNav" true }}
    {{ partial "navbar" . }}
    <!-- {{ partial "share-menu" . }} -->
    <!-- Main -->
    <div id="main">
        <!-- Post -->
        <article>
            <section class="section">
                <div class="container">
                    <div class="row element-top-50 element-bottom-50">
                        <div class="col-md-10 col-md-offset-1 blog-list-layout-normal">
                            <article>
                                <section class="section">
                                    <div class="container">
                                        <div class="row element-top-10 element-bottom-50">
                                            <div class="col-md-12 blog-list-layout-normal">
                                                {{ $.Scratch.Set "h1" true }}
                                                {{ .Render "content-single" }}
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </article>
                        </div>
                    </div>
                </div>
                {{ .Render "subscribe" }}
                {{ .Render "prev-next" }}
            </section>
        </article>
    </div>
    <!-- {{ partial "sidebar" . }} -->
{{ partial "footer" . }}
