<section id="subscribe" class="section text-light" style="border-bottom: 20px solid white;">
    <div class="background-overlay" style="background-color: #459c81;"></div>
    <div class="container container-vertical-middle text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row vertical-middle">
            <div class="tab-content col-md-12">
                <div id="context" class="tab-pane active">
                    <div class="col-md-12">
                        <h1 class="text-center super element-top-60 element-bottom-60 text-light os-animation " data-os-animation="fadeInUp" data-os-animation-delay="0s"><a href="#subscribe-form" class="os-animation element-bottom-70" data-os-animation="fadeInUp" data-os-animation-delay="0s" data-toggle="tab" style="text-decoration:none;">
                                  Smashup Signup!
                      </a> </h1></div>
                </div>
                <div id="subscribe-form" class="tab-pane">
                  <a href="#context" class="subscribe-close os-animation element-bottom-70" data-os-animation="fadeInUp" data-os-animation-delay="0s" data-toggle="tab" style="text-decoration:none;"></a>
                    <form class="element-top-70 element-bottom-70 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s" action="//twiztedmyrtle.us9.list-manage.com/subscribe/post?u=ccfed064eae2d9f57531324d0&amp;id=a710c223aa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <h3 class="text-center element-top-60 element-bottom-60 text-light os-animation light" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                          <strong><i>Warning</i></strong> - Contents known to be blessed by the devil. May cause discomfort. Overdose will result in head explosion. <br> If symptoms occur, there’s no turning back.
                        </h3>
                        <div class="flex-form">
                      <span class="input text element-right-20 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s">
                          <input type="text" value="" name="FNAME" placeholder="First name" class="input text element-right-20 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s" id="mce-FNAME" autofocus>
                      </span>
                      <span class="input text element-right-20 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s">
                          <input type="text" value="" name="LNAME" placeholder="Last name" class="" id="mce-FNAME">
                      </span>
                      <span class="input text os-animation element-right-20" style="flex-grow: 1" data-os-animation="fadeInLeft" data-os-animation-delay="0s">
                          <input type="email" value="" placeholder="Email" name="EMAIL" class="required email" id="mce-EMAIL" style="width:90%">
                      </span>
                      <span>
                        <div id="mce-responses" class="clear">
                          <div class="response" id="mce-error-response" style="display:none"></div>
                          <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                          <input type="text" name="b_ccfed064eae2d9f57531324d0_a710c223aa" tabindex="-1" value="">
                        </div>
                        <input class="btn btn-primary btn-md btn-icon-right os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s"  type="submit" value="Activate Wicked Forces" name="subscribe" id="mc-embedded-subscribe" class="button">
                      </span>
                    </div>
                    </form>
                </div>
            </div>
        </div>
          </div>
        </div>

      </div>
    </div>
</section>
