{{ partial "general-title" . }}

{{ partial "header" . }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main">
        <article>
            <section class="section">
                <div class="background-media" data-0-top-bottom="background-position: 50% 50px" data-start="background-position: 50% -200px" style="background-image: url(/img/twiztedmyrtle/blog-bg.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:cover; background-position: 50% 0%;">
                </div>
                <div class="background-overlay" style="background-color: rgba(86,180,151,0.2);"></div>
                <div class="container">
                    <div class="row element-top-200 element-bottom-300 ">
                        <div class="col-md-2 text-center"></div>
                        <div class="col-md-8 text-center">
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="divider-wrapper">
                    <div class="visible-xs element-height-60"></div>
                    <div class="visible-sm element-height-60"></div>
                    <div class="visible-md element-height-60"></div>
                    <div class="visible-lg element-height-60"></div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-text-1 element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.1s">
                                <h1 class="super text-italic text-center">Deconstruct to Reconstruct</h1>
                            </div>
                            <div class="col-text-1 element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.1s">
                                <p class="lead">We refuse to live uninspiring and spiritless lives that settle for mediocrity, routine and fa&#231;ade. Instead, we choose to <u>live</u> our lives to the fullest, with honesty and no regrets. We choose to unlock our mindsets from self-imposed limitations. And break free from the invisible chains that enslave us as oblivious prisoners.   </p>
                                <p class="lead">We understand the path to truly living our lives is treacherous and not for the faint of heart. We face our fears head on by confronting our insecurities and attachments. That prepares us to redefine our social constructs dauntlessly. And have the moxie to live on our newly defined terms. This is the metamorphosis to architecting our own stories and traverse from merely existing to living consciously!   </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider-wrapper">
                    <div class="visible-xs element-height-60"></div>
                    <div class="visible-sm element-height-60"></div>
                    <div class="visible-md element-height-60"></div>
                    <div class="visible-lg element-height-60"></div>
                </div>
            </section>
            <!-- <section class="section tilt">
                <div class="background-media" style="background-image: url('/img/twiztedmyrtle/twizted-pattern.png'); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;" data-start="background-position: 50% -31px"
                data-0-top-bottom="background-position: 50% 50px"></div>
                <div class="background-overlay" style="background-color: rgba(200,188,182,0.8);"></div>
                <div class="circle-container tilt-back">
                    <div class="row element-top-60 element-bottom-60 tab-content">
                        <div id="back" class="col-md-12 text-center tab-pane active">
                          <a class="btn btn-primary btn-lg os-animation element-right-10"  data-os-animation="fadeIn" data-os-animation-delay="0.2s">Donate</a>

                          <a href="#subscribe" class="btn btn-primary btn-lg os-animation"  data-os-animation="fadeIn" data-os-animation-delay="0.2s" data-toggle="tab">Subscribe</a>
                        </div>

                        <div id="subscribe" class=" text-center tab-pane">
                          <form class="element-top-70 element-bottom-70 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s" action="//twiztedmyrtle.us9.list-manage.com/subscribe/post?u=ccfed064eae2d9f57531324d0&amp;id=a710c223aa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <h3><a href="#back" class="" data-toggle="tab"><i class="icon-circle-cross"></i></a></h3>
                              <h3 class="text-center element-top-60 element-bottom-60 text-light os-animation light" data-os-animation="fadeInUp" data-os-animation-delay="0s">Thanks for getting Twizted. This is going to be fun! </h3> <span class="input text element-right-20 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s">
                                <input type="text" value="" name="FNAME" placeholder="First name" class="input text element-right-20 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s" id="mce-FNAME" autofocus>
                            </span>
                            <span class="input text element-right-20 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s">
                                <input type="text" value="" name="LNAME" placeholder="Last name" class="" id="mce-FNAME">
                            </span>
                            <span class="input text os-animation element-right-20" data-os-animation="fadeInLeft" data-os-animation-delay="0s">
                                <input type="email" value="" placeholder="Email" name="EMAIL" class="required email" id="mce-EMAIL">
                            </span> <span>
                            <div id="mce-responses" class="clear">
                              <div class="response" id="mce-error-response" style="display:none"></div>
                              <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ccfed064eae2d9f57531324d0_a710c223aa" tabindex="-1" value=""></div>
                            <input class="btn btn-primary btn-md element-top-20 btn-icon-right os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s"  type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></span> </form>
                      </div>
                    </div>

                </div>
            <!-- </section> -->
            <section class="section">
                <div class="container-fullwidth">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="blog-list-layout-normal element-top-120">
                                <!-- Please note that the param orderByPublishDate is no longer being used since the pagination is not what is expected. Use at your own risk! -->
                                {{ if .Site.Params.orderByPublishDate }}
                                    {{ $paginator := .Paginate (where .Data.Pages.ByPublishDate.Reverse "Type" "post") }}
                                {{ else }}
                                    {{ $paginator := .Paginate (where .Site.Pages "Type" "post") }}
                                {{ end }}

                                {{ range .Paginator.Pages }}
                                    {{ .Render "content-list" }}
                                {{ end }}
                            </div>

                            {{ partial "pagination" . }}
                        </div>
                        <!-- <div class="col-md-3 sidebar"> -->
                            <!-- Posts List -->
                                    <!-- <section id="recent-posts" class="sidebar-widget widget_recent_entries">
                                        <ul class="posts">
                                            <header>
                                                <h3 class="sidebar-header">Recent Posts</h3>
                                            </header>
                                            {{ if .Site.Params.orderByPublishDate }}
                                                {{ $.Scratch.Set "recentPosts" .Site.Pages.ByPublishDate.Reverse }}
                                            {{ else }}
                                                {{ $.Scratch.Set "recentPosts" .Site.Pages }}
                                            {{ end }}

                                            {{ with .Site.Params.postAmount.sidebar }}
                                                {{ $.Scratch.Set "postLimit" . }}
                                            {{ else }}
                                                {{ $.Scratch.Set "postLimit" 5 }}
                                            {{ end }}

                                            {{ range first ($.Scratch.Get "postLimit") (where ($.Scratch.Get "recentPosts") "Type" "post") }}
                                                <li>
                                                    <article>
                                                        <header>
                                                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                                                            {{ if .Site.Params.orderByPublishDate }}
                                                                {{ $.Scratch.Set "dateType" .PublishDate }}
                                                            {{ else }}
                                                                {{ $.Scratch.Set "dateType" .Date }}
                                                            {{ end }}
                                                            <small class="post-date">
                                                                <time class="published" datetime=
                                                                    '{{ ($.Scratch.Get "dateType").Format "2006-01-02" }}'>
                                                                    {{ ($.Scratch.Get "dateType").Format "January 2, 2006" }}</time>
                                                            </small>
                                                        </header>
                                                    </article>
                                                </li>
                                            {{ end }}

                                            {{ if ge (len (where .Site.Pages "Type" "post")) ($.Scratch.Get "postLimit") }}
                                                <li>
                                                    <ul class="actions">
                                                        <li><a href=
                                                        {{ with .Site.Params.viewMorePostLink }}
                                                            {{ . }}
                                                        {{ else }}
                                                            "/post/"
                                                        {{ end }}
                                                        class="button">View more posts</a></li>
                                                    </ul>
                                                </li>
                                            {{ end }}
                                        </ul>
                                    </section> -->

                                <!-- This if statement only applies if someone goes to the /categories url -->
                                <!-- Otherwise this section is shown for all other links -->
                                <!-- {{ if ne ($.Scratch.Get "showCategories") false }} -->
                                <!-- Categories List -->
                                    <!-- <section id="categories" class="sidebar-widget widget_recent_entries">
                                        <header>
                                            <h3 class="sidebar-header">Categories</h3>
                                        </header>
                                        <ul class="">

                                            {{ if .Site.Params.categoriesByCount }}
                                                {{ $.Scratch.Set "categories" .Site.Taxonomies.categories.ByCount }}
                                            {{ else }}
                                                {{ $.Scratch.Set "categories" .Site.Taxonomies.categories.Alphabetical }}
                                            {{ end }}

                                            {{ range $key, $value := $.Scratch.Get "categories" }}
                                                <li>
                                                    <article>
                                                        <header>
                                                            <a href="/categories/{{ $value.Name | urlize }}/">{{ $value.Name }}</a>
                                                            <span style="float:right;">{{ $value.Count }}</span>
                                                        </header>
                                                    </article>
                                                </li>
                                            {{ end }}
                                        </ul>
                                    </section> -->
                                <!-- {{ end }} -->
                        <!-- </div> -->
                    </div>
                </div>
            </section>
        </article>

    </div>
    <!-- {{ partial "sidebar" . }} -->
{{ partial "footer" . }}
