              </div>
        <a id="back-to-top" href="#" class="fa fa-arrow-up fa-border fa-2x"></a>

        <footer id="footer">
            <section class="section subfooter">
              <div class="container">
                <div class="row element-top-20 element-bottom-20 footer-columns-2">
                  <div class="col-sm-6">
                    <div class="sidebar-widget widget_text">
                      <div class="textwidget"> © 2019 all rights reserved, TwiztedMyrtle® | <a href="/terms-of-use.html">terms of use</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="sidebar-widget widget_social">
                      <ul class="unstyled inline social-icons social-simple social-normal">
                        <li>
                          <a data-iconcolor="#3b5998" href="https://www.facebook.com/twiztedmyrtle" target="_social"> <i class="fa fa-2x fa-facebook"></i> </a>
                        </li>
                        <li>
                          <a data-iconcolor="#00acee" href="https://twitter.com/twiztedmyrtle" target="_social"> <i class="fa fa-2x fa-twitter"></i> </a>
                        </li>
                        <li>
                          <a data-iconcolor="#004879" href="https://instagram.com/twiztedmyrtle/" target="_social"> <i class="fa fa-2x fa-instagram"></i> </a>
                        </li>
                        <!-- <li>
                          <a data-iconcolor="#E45135" href="https://plus.google.com/+AshaWadher/" target="_social"> <i class="fa fa-2x fa-google-plus"></i> </a>
                        </li> -->
                        <!-- <li>
                          <a data-iconcolor="#e63127" href="https://www.youtube.com/user/Twiztedmyrtle" target="_social"> <i class="fa fa-2x fa-youtube-play"></i> </a>
                        </li> -->
                        <li><span style="font-size: 30px; position: relative; bottom: -10px;">/</span></li>
                        <li>
                          <a data-iconcolor="#3b5998" href="http://twiztedmyrtle.photoshelter.com/gallery-collection/View-Gallery/C0000qSXIepKx7lw" target="_social"> <i class="fa fa-2x fa-shopping-cart"></i> </a>
                        </li>
                        <!-- <li>
                          <a data-iconcolor="#3b5998" href="/podcast.html"> <i class="fa fa-2x fa-microphone"></i> </a>
                        </li>
                        <li>
                          <a data-iconcolor="#3b5998" href="/blog.html"> <i class="fa fa-2x fa-edit"></i> </a>
                        </li> -->

                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </footer>
        <!-- Scripts -->

        <!-- Keeping the deprecated param, minifiedFilesJS, for now. The new param
             that replaces this is customJS. Utilizing a scratch variable jsFiles
             to keep the deprecated param. -->
        {{ if isset .Site.Params "minifiedFilesJS" }}
            {{ $.Scratch.Set "jsFiles" .Site.Params.minifiedFilesJS }}
        {{ else if isset .Site.Params "customJS" }}
            {{ $.Scratch.Set "jsFiles" .Site.Params.customJS }}
        {{ else }}
            {{ $.Scratch.Set "jsFiles" false }}
        {{ end }}

        <!-- If the value "default" is passed into the param then we will first
             load the standard js files associated with the theme -->
        {{ if or (in ($.Scratch.Get "jsFiles") "default") (eq ($.Scratch.Get "jsFiles") false) }}
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
            <script src="/js/skel.min.js"></script>
            <script src="/js/util.js"></script>
            <script src="/js/main.js"></script>
            <script src="/js/backToTop.js"></script>
            <script src="/js/highlight.pack.js"></script>
            <script type="text/javascript">
                var oxyThemeData = {
                    navbarHeight: 100,
                    navbarScrolled: 90,
                    navbarScrolledPoint: 20,
                    menuClose: 'off',
                    scrollFinishedMessage: 'No more items to load.',
                    hoverMenu:
                    {
                        hoverActive: false,
                        hoverDelay: 1,
                        hoverFadeDelay: 200
                    },
                    siteLoader: 'on'
                };
            </script>
            <script src="/js/theme.min.js"></script>
            <script src="/js/about.js"></script>
            <script src="/js/contact.min.js"></script>
            <script src="/js/owl.carousel.min.js"></script>

            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-48283949-1', 'auto');
                ga('send', 'pageview');

            </script>
            <script>
              $(document).ready(function(event) {

                // define custom css json
                const custom_donately_css = {
                    ".donately-donation-form": {
                      "font-family": "Palatino-italic, sans-serif"
                    },
                    ".donately-btn": {
                      "background-color": "#50b598",
                      "width": "100%",
                      "height": "50px",
                      "color": "#ffffff"
                    },
                    ".donately-preset-fields .donately-preset-amounts li label:not(.donately-dollar-sign)": {
                      "background": "linear-gradient(180deg, rgba(255, 255, 255, 1)0%, rgba(238, 238, 238, 1)100%)",
                      "color": "#333",
                      "border": "1px solid #d2d2d2",
                      "border-radius": "5px",
                      "cursor": "pointer",
                      "color": "#333 !important"
                    },
                    ".donately-preset-fields .donately-preset-amounts li label.donately-dollar-sign:hover" : {
                      "color":"#333"
                    },
                    ".donately-secure-header": {
                      "color": "#333333"
                    },
                    "#donation-form>form>fieldset.donately-fields.donately-preset-fields>label::before, #donation-form>form>fieldset.donately-fields.donately-payment-fields>label::before, label#donately-contact-info::before": {
                      "content": "'1. Select Gift Amount'",
                      "color": "#4f4f4f",
                      "font-size": ".8em"
                    },
                    "label#donately-contact-info::before": {
                      "content": "'2. Contact Information'"
                    },
                    "#donation-form>form>fieldset.donately-fields.donately-payment-fields>label::before": {
                      "content": "'3. Payment Information'"
                    },
                    "#donation-form>form>fieldset.donately-fields.donately-payment-fields": {
                      "content": "''",
                      "border-top": "2px solid #50b598",
                      "display": "block",
                      "padding-top": "20px"
                    },
                    ".donately-branding": {
                      "display": "none;"
                    },
                    "label.donately-label.selected, .donately-preset-fields .donately-preset-amounts label:hover": {
                      "color": "white;"
                    },
                    "#donately-first-name::-webkit-input-placeholder, #donately-last-name::-webkit-input-placeholder, #donately-email::-webkit-input-placeholder, #donately-street-address::-webkit-input-placeholder, #donately-street-address-2::-webkit-input-placeholder, #donately-city::-webkit-input-placeholder, #donately-zip-code::-webkit-input-placeholder, #donation-form>form>fieldset.donately-fields.donately-payment-fields>label": {
                      "color": "transparent;"
                    },
                    ".donately-city-group, .donately-zip-code-group, .donately-state-group, .donately-country-group": {
                     "width": "50%"
                    },
                    ".donately-city-group select, .donately-state-group select, .donately-zip-code-group select, .donately-country-group select": {
                      "padding-left": "13px;"
                    },
                    "#donation-form": {
                      "max-width": "330px",
                      "margin": "2rem auto"
                    },
                    "#donately-street-address-2": {
                      "display": "none"
                    },
                    ".donately-preset-amounts": {
                      "display": "block"
                    },
                    ".donately-preset-fields .donately-preset-amounts li": {
                      "display": "block",
                      "float": "left",
                      "width": "33%"
                    },
                    ".donately-preset-fields .donately-preset-amounts li:nth-of-type(4),.donately-preset-fields .donately-preset-amounts li:nth-of-type(5),.donately-preset-fields .donately-preset-amounts li:nth-of-type(6)": {
                      "padding-right": "10px",
                      "padding-top": "10px"
                    },
                    "input#donately-amount": {
                      "display": "block",
                      "padding": "9.6px 9.6px 8px 25.6px",
                      "border-radius": "5px",
                      "font-size": "20px"
                    },
                    ".donately-preset-fields .donately-preset-amounts label.donately-dollar-sign, .donately-preset-fields .donately-preset-amounts label.donately-dollar-sign:hover": {
                      "position": "absolute",
                      "border": "none",
                      "background": "none !important",
                      "padding": "0",
                      "text-align": "left",
                      "font-size": "20px",
                      "color": "#333 !important",
                      "top" : "21px",
                      "left" : "16px"
                    },
                    "#donately-amount-wrapper": {
                      "position": "relative",
                      "display": "none"
                    },
                    "#donately-amount-wrapper.active": {
                      "display": "block"
                    },
                    ".donately-preset-fields .donately-preset-amounts li label.donately-label.un-selected": {
                      "background": "#edf1f4"
                    },
                    ".donately-preset-fields .donately-preset-amounts li label.donately-label.selected, .donately-preset-fields .donately-preset-amounts li label.donately-label.selected:hover": {
                      "background": "rgb(80, 181, 152) !important",
                      "color": "#fff !important"
                    },
                    "#donation-form>form>fieldset.donately-fields.donately-preset-fields>label, #donation-form>form>fieldset.donately-fields.donately-payment-fields>label, label#donately-contact-info": {
                      "color": "transparent"
                    },
                    "label#donately-contact-info": {
                      "border-top": "2px solid #50b598",
                      "display": "block",
                      "padding-top": "20px",
                      "padding-bottom": "10px"
                    },
                    ".donately-btn:hover, .donately-preset-fields .donately-preset-amounts li label:hover, .donately-secure-header": {
                      "background": "#c7bcb6 !important",
                      "color": "#fff !important"
                    }
                  };

                // define custom script to run during form rendering
                function custom_donately_scripts() {
                  $('.donately-preset-amounts').on('click', '.donately-label', function() {
                      // reset all options
                      $('.donately-preset-amounts .donately-label')
                        .removeClass('selected')
                        .addClass('un-selected');

                      // set clicked option so 'selected'
                      $(this)
                        .removeClass('un-selected')
                        .addClass('selected');

                      $donatelyWrapper = $('#donately-amount-wrapper');

                      // if user clicked 'other', show the input box, and clear it out
                      if( $(this).attr('id') === 'presets-other-label' ) {
                        $donatelyWrapper
                          .addClass('active')
                          .children('.donately-text-input')
                          .val('')
                          .attr('placeholder', '');
                      } else {
                        $donatelyWrapper
                          .removeClass('active');
                      }
                    });

                    // update button text
                    $('.donately-btn')
                      .val('Deliver my gift');

                    // add 'other' button to the presets
                    $('#donately-preset-option-4')
                      .clone()
                      .attr('id', 'donately-preset-option-other')
                      .appendTo('.donately-preset-amounts')
                      .children('input')
                      .attr('name', '')
                      .attr('value', 'other')
                      .attr('tabindex', '5')
                      .parent('li')
                      .children('label')
                      .attr('id', 'presets-other-label')
                      .html('Other');

                    // add the amount wrapper
                    $('.donately-preset-amounts')
                      .append('<li id="donately-amount-wrapper"></li>');

                    // move amount input into wrapper
                    $('#donately-amount')
                      .appendTo('#donately-amount-wrapper')
                      .before( $( '.donately-dollar-sign' ) );

                    // Update payment button to say '3'
                    $('.donately-label.donately-payment-label')
                      .clone()
                      .attr('id', 'donately-contact-info')
                      .insertBefore('#custom-fields-location-namegroups');

                    // duplicate payment label to above the name contact info
                    $('.donately-label.donately-payment-label')

                    // move payment below personal info
                    $('#custom-fields-location-submit')
                      .before( $('.donately-fields.donately-payment-fields') )
                      .before( $('.donately-secure-fields.donately-payment-types.ptype-cc') )
                      .before( $('.donately-secure-fields.donately-payment-types.ptype-ach.donately-hide'));

                }

                // initialize donately form
                Donately.init({
                  selector: '#donation-form',
                  options: {
                    'donately-id': "act_e15d48cba3f6",
                    'stripe-publishable-key': "pk_live_utA1FOFqgfkva7uvXOzctfp4",
                    'donately-presets': "5,10,15,25",
                    'donately-donor-pays-fees': "false",
                    'donately-duration': "default_recurring",
                    'donately-billing-zip': "true",
                    'donately-address': "true",
                    'donately-payment-options': "cc,ach",
                    'donately-custom-css': JSON.stringify(custom_donately_css)
                  },
                  onSuccess: function() {
                    //replace the url with your own

                    window.location.href = "https://artist.twiztedmyrtle.com/thank-you.html"

                  },
                  afterFormLoad: function() {
                    custom_donately_scripts();
                  }
                });
              });



            </script>
        {{ end }}

        {{ if ne ($.Scratch.Get "jsFiles") false }}
            {{ range $.Scratch.Get "jsFiles" }}
                {{ if ne . "default" }}
                    <script src="{{ . }}"></script>
                {{ end }}
            {{ end }}
        {{ end }}

            <!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
    </body>
</html>
