            </div>
        <a id="back-to-top" href="#" class="fa fa-arrow-up fa-border fa-2x"></a>

        <footer id="footer">
            <section class="section subfooter">
              <div class="container">
                <div class="row element-top-20 element-bottom-20 footer-columns-2">
                  <div class="col-sm-6">
                    <div class="sidebar-widget widget_text">
                      <div class="textwidget"> © 2018 all rights reserved, TwiztedMyrtle® | <a href="/terms-of-use.html">terms of use</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="sidebar-widget widget_social">
                      <ul class="unstyled inline social-icons social-simple social-normal">
                        <li>
                          <a data-iconcolor="#3b5998" href="https://www.facebook.com/twiztedmyrtle" target="_social"> <i class="fa fa-2x fa-facebook"></i> </a>
                        </li>
                        <li>
                          <a data-iconcolor="#00acee" href="https://twitter.com/twiztedmyrtle" target="_social"> <i class="fa fa-2x fa-twitter"></i> </a>
                        </li>
                        <li>
                          <a data-iconcolor="#004879" href="https://instagram.com/twiztedmyrtle/" target="_social"> <i class="fa fa-2x fa-instagram"></i> </a>
                        </li>
                        <!-- <li>
                          <a data-iconcolor="#E45135" href="https://plus.google.com/+AshaWadher/" target="_social"> <i class="fa fa-2x fa-google-plus"></i> </a>
                        </li> -->
                        <!-- <li>
                          <a data-iconcolor="#e63127" href="https://www.youtube.com/user/Twiztedmyrtle" target="_social"> <i class="fa fa-2x fa-youtube-play"></i> </a>
                        </li> -->
                        <li><span style="font-size: 30px; position: relative; bottom: -10px;">/</span></li>
                        <li>
                          <a data-iconcolor="#3b5998" href="http://twiztedmyrtle.photoshelter.com/gallery-collection/View-Gallery/C0000qSXIepKx7lw" target="_social"> <i class="fa fa-2x fa-shopping-cart"></i> </a>
                        </li>
                        <!-- <li>
                          <a data-iconcolor="#3b5998" href="/podcast.html"> <i class="fa fa-2x fa-microphone"></i> </a>
                        </li>
                        <li>
                          <a data-iconcolor="#3b5998" href="/blog.html"> <i class="fa fa-2x fa-edit"></i> </a>
                        </li> -->

                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </footer>
        <!-- Scripts -->

        <!-- Keeping the deprecated param, minifiedFilesJS, for now. The new param
             that replaces this is customJS. Utilizing a scratch variable jsFiles
             to keep the deprecated param. -->
        {{ if isset .Site.Params "minifiedFilesJS" }}
            {{ $.Scratch.Set "jsFiles" .Site.Params.minifiedFilesJS }}
        {{ else if isset .Site.Params "customJS" }}
            {{ $.Scratch.Set "jsFiles" .Site.Params.customJS }}
        {{ else }}
            {{ $.Scratch.Set "jsFiles" false }}
        {{ end }}

        <!-- If the value "default" is passed into the param then we will first
             load the standard js files associated with the theme -->
        {{ if or (in ($.Scratch.Get "jsFiles") "default") (eq ($.Scratch.Get "jsFiles") false) }}
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
            <script src="/js/skel.min.js"></script>
            <script src="/js/util.js"></script>
            <script src="/js/main.js"></script>
            <script src="/js/backToTop.js"></script>
            <script src="/js/highlight.pack.js"></script>
            <script type="text/javascript">
                var oxyThemeData = {
                    navbarHeight: 100,
                    navbarScrolled: 90,
                    navbarScrolledPoint: 20,
                    menuClose: 'off',
                    scrollFinishedMessage: 'No more items to load.',
                    hoverMenu:
                    {
                        hoverActive: false,
                        hoverDelay: 1,
                        hoverFadeDelay: 200
                    },
                    siteLoader: 'on'
                };
            </script>
            <script src="/js/theme.min.js"></script>
            <script src="/js/about.js"></script>
            <script src="/js/contact.min.js"></script>
            <script src="/js/owl.carousel.min.js"></script>

            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-48283949-1', 'auto');
                ga('send', 'pageview');

            </script>
            <script>
              $(document).ready(function(event) {

                Donately.init({
                  // Make sure selector exists on page
                  selector: '#donation-form',
                  options: {
                    'donately-id': "act_e15d48cba3f6",
                    'stripe-publishable-key': "pk_live_utA1FOFqgfkva7uvXOzctfp4",
                    'donately-presets': "5,10,50,100",
                    'donately-donor-pays-fees': "false",
                    'donately-duration': "default_recurring",
                    'donately-billing-zip': "true",
                    'donately-address': "true",
                    'donately-payment-options': "cc,ach",
                    'donately-custom-css': JSON.stringify({
                      ".donately-donation-form": { "font-family": "\"Palatino-italic\", sans-serif" },
                      ".donately-btn": { "background-color": "#50b598", "width": "100%", "height":"50px", "color": "#ffffff"},
                      ".donately-btn:hover": { "background-color": "#c7bcb6"},
                      ".donately-preset-fields .donately-preset-amounts label": {"background":"linear-gradient(180deg,rgba(255,255,255,1)0%,rgba(238,238,238,1)100%)","color":"#333","border":"1px solid #d2d2d2","borderRadius":"5px","cursor":"pointer"},
                      ".donately-preset-fields .donately-preset-amounts label:hover": { "background": "#c7bcb6", "color":"white" },
                      ".donately-secure-header": {"background-color":"#c7bcb6","color":"#333333"},
                      "#donation-form > form > fieldset.donately-fields.donately-preset-fields > label": { "color":"transparent" },
                      "#donation-form > form > fieldset.donately-fields.donately-preset-fields > label::before": { "content":"'1. Select Gift Amount'", "color": "#4f4f4f", "font-size": ".8em" },
                      "#donation-form > form > fieldset.donately-fields.donately-payment-fields > label": { "color":"transparent" },
                      "#donation-form > form > fieldset.donately-fields.donately-payment-fields > label::before": { "content":"'2. Payment Information'", "color": "#4f4f4f", "font-size": ".8em" },
                      "#donation-form > form > fieldset.donately-fields.donately-payment-fields": { "content": "''", "border-top": "2px solid #50b598", "display": "block", "padding-top": "20px" },
                      ".donately-branding": { "display": "none" },
                      "label.donately-label.selected": { "color": "white" },
                      "#donately-first-name::-webkit-input-placeholder, #donately-last-name::-webkit-input-placeholder, #donately-email::-webkit-input-placeholder, #donately-street-address::-webkit-input-placeholder, #donately-street-address-2::-webkit-input-placeholder, #donately-city::-webkit-input-placeholder, #donately-zip-code::-webkit-input-placeholder": { "color": "transparent" }
                    })
                  },
                  afterFormLoad: function(){
                    $("#donately-preset-option-1 .donately-label").click(function(){
                      if(!$(this).hasClass("selected")) {
                        $(this).css("background-color", "#50b598").addClass("selected")
                        $("#donately-preset-option-2 .donately-label").css("background", "#EDF1F4").removeClass("selected")
                        $("#donately-preset-option-3 .donately-label").css("background", "#EDF1F4").removeClass("selected")
                        $("#donately-preset-option-4 .donately-label").css("background", "#EDF1F4").removeClass("selected")
                      } else {
                        $(this).css("background-color", "#EDF1F4").removeClass("selected")
                      }
                    })
                    $("#donately-preset-option-2 .donately-label").click(function(){
                      if(!$(this).hasClass("selected")) {
                        $(this).css("background-color", "#50b598").addClass("selected")
                        $("#donately-preset-option-1 .donately-label").css("background", "#EDF1F4").removeClass("selected")
                        $("#donately-preset-option-3 .donately-label").css("background", "#EDF1F4").removeClass("selected")
                        $("#donately-preset-option-4 .donately-label").css("background", "#EDF1F4").removeClass("selected")
                      } else {
                        $(this).css("background-color", "#EDF1F4").removeClass("selected")
                      }
                    })
                    $("#donately-preset-option-3 .donately-label").click(function(){
                      if(!$(this).hasClass("selected")) {
                        $(this).css("background-color", "#50b598").addClass("selected")
                        $("#donately-preset-option-1 .donately-label").css("background", "#EDF1F4").removeClass("selected")
                        $("#donately-preset-option-2 .donately-label").css("background", "#EDF1F4").removeClass("selected")
                        $("#donately-preset-option-4 .donately-label").css("background", "#EDF1F4").removeClass("selected")
                      } else {
                        $(this).css("background-color", "#EDF1F4").removeClass("selected")
                      }
                    })
                    $("#donately-preset-option-4 .donately-label").click(function(){
                      if(!$(this).hasClass("selected")) {
                        $(this).css("background-color", "#50b598").addClass("selected")
                        $("#donately-preset-option-1 .donately-label").css("background", "#EDF1F4").removeClass("selected")
                        $("#donately-preset-option-2 .donately-label").css("background", "#EDF1F4").removeClass("selected")
                        $("#donately-preset-option-3 .donately-label").css("background", "#EDF1F4").removeClass("selected")
                      } else {
                        $(this).css("background-color", "#EDF1F4").removeClass("selected")
                      }
                    })
                    $("#donately-payment-option-1 .donately-label").click(function(){
                      if(!$(this).hasClass("selected")) {
                        $(this).css("background-color", "#50b598").addClass("selected")
                        $("#donately-payment-option-2 .donately-label").css("background", "#EDF1F4").removeClass("selected")
                      } else {
                        $(this).css("background-color", "#EDF1F4").removeClass("selected")
                      }
                    })
                    $("#donately-payment-option-2 .donately-label").click(function(){
                      if(!$(this).hasClass("selected")) {
                        $(this).css("background-color", "#50b598").addClass("selected")
                        $("#donately-payment-option-1 .donately-label").css("background", "#EDF1F4").removeClass("selected")
                      } else {
                        $(this).css("background-color", "#EDF1F4").removeClass("selected")
                      }
                    })
                    // $('#donately-amount').hide()
                    // $('.donately-dollar-sign').hide()
                    $(".donately-btn").val("Give the Gift")
                   }
                })
              })

            </script>
        {{ end }}

        {{ if ne ($.Scratch.Get "jsFiles") false }}
            {{ range $.Scratch.Get "jsFiles" }}
                {{ if ne . "default" }}
                    <script src="{{ . }}"></script>
                {{ end }}
            {{ end }}
        {{ end }}

            <!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
    </body>
</html>
