<div class="menu navbar navbar-static-top header-logo-left-menu-right oxy-mega-menu navbar-sticky" id="masthead">
  <div class="">
      <div class="navbar-header">
          <button class="navbar-toggle collapsed" data-target=".main-navbar" data-toggle="collapse" type="button"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand" href="/index.html"> <img src="/img/logo.svg" width="280px" height="88px" alt=""> </a>
      </div>
      <div class="nav-container">
          <nav class="collapse navbar-collapse main-navbar logo-navbar navbar-right">
              <div class="menu-container">
                  <ul class="nav navbar-nav" id="menu-main">
                      <li class="menu-item  dropdown "> <a class="dropdown-toggle" data-toggle="dropdown" href="#">About <span class="fa fa-angle-down"><i></i></span></a>
                          <ul class="dropdown-menu dropdown-menu-left ">
                              <li class="menu-item"> <a href="/about.html">The Story</a> </li>
                              <li class="menu-item"> <a href="/giving-back.html">Giving back</a> </li>
                              <li class="menu-item"> <a href="/bazaar.html">Bazaar</a> </li>
                          </ul>
                      </li>
                      <li class="menu-item"> <a href="http://twiztedmyrtle.photoshelter.com/gallery-collection/View-Gallery/C0000qSXIepKx7lw">Gallery</a> </li>
                      <li class="menu-item  dropdown "> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Chitchat <span class="fa fa-angle-down"><i></i></span></a>
                          <ul class="dropdown-menu dropdown-menu-left ">
                              <li class="menu-item"> <a href="/blog.html">Blog</a> </li>
                              <li class="menu-item"> <a href="/podcast.html">Podcast</a> </li>
                          </ul>
                      </li>
                      <li class="menu-item"> <a href="/scars-project.html">Scars Project</a> </li>
                      <li class="menu-item"> <a href="/contact.html">Contact</a></li>
                  </ul>
              </div>
          </nav>
      </div>
  </div>
</div>

<!-- Header -->
<!-- <header id="header">
    {{ if and (.IsNode) (or (.IsHome) (eq .Title "Posts")) }}
        <h1><a href="/">{{ .Site.Params.navbarTitle }}</i></a></h1>
    {{ else }}
        <h2><a href="/">{{ .Site.Params.navbarTitle }}</i></a></h2>
    {{ end }}
 -->
    <!-- <nav class="links">
        <ul>
            {{ range .Site.Menus.main }}
                <li>
                    <a href="{{ .URL }}">
                        {{ with .Identifier }}
                            <i class="{{ . }}">&nbsp;</i>{{ end }}{{ .Name }}
                    </a>
                </li>
            {{ end }}
        </ul>
    </nav> -->
    <!-- <nav class="main">
        <ul>
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav> -->
<!-- </header> -->

<!-- Menu -->
<!-- <section id="menu"> -->

    <!-- Links -->
        <!-- <section>
            <ul class="links">
                {{ range .Site.Menus.main }}
                    <li>
                        <a href="{{ .URL }}">
                            <h3>
                                {{ with .Identifier }}
                                    <i class="{{ . }}">&nbsp;</i>
                                {{ end }}
                                {{ .Name }}
                            </h3>
                        </a>
                    </li>
                {{ end }}
            </ul>
        </section> -->
<!-- </section> -->
