<!-- Social Share Button HTML -->

<!-- Twitter -->
<li><a href="//twitter.com/share?url={{ .Permalink }}&text={{ .Title }}&via={{ .Site.Social.twitter }}" target="_blank" data-iconcolor="#00acee" class="share-btn twitter">
    <i class="fa fa-twitter"></i>
</a></li>

<!-- Google Plus -->
<li><a href="//plus.google.com/share?url={{ .Permalink }}" target="_blank" data-iconcolor="#dd1812" class="share-btn google-plus">
    <i class="fa fa-google-plus"></i>
</a></li>

<!-- Facebook -->
<li><a href="//www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" data-iconcolor="#3b5998" class="share-btn facebook">
    <i class="fa fa-facebook"></i>
</a></li>

<!-- Reddit (url, title) -->
<li><a href="//reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}" target="_blank" data-iconcolor="#C92228" class="share-btn reddit">
    <i class="fa fa-reddit-alien"></i>
</a></li>

<!-- LinkedIn -->
<li><a href="//www.linkedin.com/shareArticle?url={{ .Permalink }}&title={{ .Title }}" target="_blank" class="share-btn linkedin">
    <i class="fa fa-linkedin"></i>
</a></li>

<!-- StumbleUpon (url, title) -->
<li><a href="//www.stumbleupon.com/submit?url={{ .Permalink }}&title={{ .Title }}" target="_blank" class="share-btn stumbleupon">
    <i class="fa fa-stumbleupon"></i>
</a></li>

<!-- Email -->
<li><a href="mailto:?subject=Check out this post by {{ .Params.author }}&body={{ .Permalink }}" target="_blank" class="share-btn email">
    <i class="fa fa-envelope"></i>
</a></li>
